#logo {
  flex: 0;
}

.navigation {
  flex: 1;
}

.navigation ul {
  display: flex;
  list-style-type: none;
}

.navigation li {
  margin-right: 25px;
}

.navigation li:hover {
  color: #f0f;
}

.content {
  flex: 1;
  margin: 0px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel {
  display: flex;
  align-items: center;
  /* display: inline; */
  width: 80%;
  height: 150px;
  margin-bottom: 50px;
  overflow-x: scroll;
}

.prev-base, .next-base {
  width: 150px;
  height: 150px;
}

.current-base {
  position: relative;
  /* width: 100%; */
  padding-left: 25px;
  padding-right: 25px;
}

.thumb {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memetext {
  position: absolute;
  color: #fff;
  background-color: #000;
  left: 40%;
}

#bot_text {
  bottom: 0;
}

.tools {
  padding-top: 50px;
}
