#logo {
  flex: 0;
}

.navigation {
  flex: 1;
}

.navigation ul {
  display: flex;
  list-style-type: none;
}

.navigation li {
  margin-right: 25px;
}

.navigation li:hover {
  color: #f0f;
}

.content {
  width: 100%;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  justify-content: space-around;
}

h1 {
  margin-left: 50px;
}

.post {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #eee;
}

.original_poster {
  padding-bottom: 15px;
}

.post img {
  height: 90%;
  max-height: 250px;
  object-fit: scale-down;
  background-color: #ddd;
}
