<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pictualize</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}">
</head>
<body>
  <div class="page">
    <header>
      <div id="logo">
        <!---PLACE THE LOGO PICTUALIZE--->
        <a href="/"><img src="{{ url_for('static', filename='img_assets/pic1.png') }}"></a>
      </div>
      <div class="navigation">
        <ul>
          <li><input type="text" name="search" placeholder="Search..."></li>
          <li><a href="/new">New Meme</a></li>
          <li><a href="/following">Following</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/godview">God View</a></li>
        </ul>
      </div>
      <div class="logout">
        <form action="/logout" method="GET">
          <label for="buttonLugout">{{ session['username'] }}</label>
          <input id="buttonLogout" type="submit" value="Logout">
        </form>
      </div>
    </header>
    <div class="content">
      <h1>Following</h1>
    </div>

    <footer>
      <p>&copy; 2018 Pictualize</p>
    </footer>
  </div>

  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</body>
</html>
