<header>
  <div id="logo">
    <!---PLACE THE LOGO PICTUALIZE--->
    <a href="/"><img src="{{ url_for('static', filename='img_assets/pic1.png') }}"></a>
  </div>
  <div class="navigation">
    <ul>
      <li><input type="text" name="search" placeholder="Search..."></li>
      <li><a href="/upload">Upload Template</a></li>
      <li><a href="/new">New Meme</a></li>
      <li><a href="/following">Following</a></li>
      <li><a href="/profile/{{ session['username'] }}">Profile</a></li>
      <li><a href="/godview">God View</a></li>
    </ul>
  </div>
  <div class="logout">
    <form action="/logout" method="GET">
      <label for="buttonLugout">{{ session['username'] }}</label>
      <input id="buttonLogout" type="submit" value="Logout">
    </form>
  </div>
</header>
