<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pictualize</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
  <link rel="stylesheet" href="../static/styles/styles.css">
  <link rel="stylesheet" href="../static/styles/home.css">
</head>
<body>
  <div class="page">
  <header>
      <div id="logo">
        <!---PLACE THE LOGO PICTUALIZE--->
        <img width=40px src="../static/img_assets/pic1.png">
      </div>
      <div class="navigation">
        <ul>
          <li><input type="text" name="search" placeholder="Search..."></li>
          <li>New Meme</li>
          <li>Following</li>
          <li>Profile</li>
        </ul>
      </div>
      <div class="logout">
        <form action="/logout" method="GET">
          <input id="buttonLogout" type="submit" value="Logout">
        </form>
      </div>
  </header>
  <div class="content">
  {% for pic in picLinks %}
  <div class="post">
    <span class="original_poster">poster's_username</span>
    <img src={{ pic }} >
    <ul>
      <li>Save post</li>
      <li>Make new post with template</li>
      <li>Reply</li>
    </ul>
  </div>
  {% endfor %}
</div>

  <footer>
    <p>&copy; 2018 Pictualize</p>
  </footer>
</div>

<script src="../static/js/jquery.js"> </script>
</body>
</html>
