<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pictualize</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
  <div class="page">
  {% include "header.html" %}

  <h1>🌎 Global Feed</h1>
  <div class="content">
  {% for post in recentPosts %}
  <div class="post">
    <span class="original_poster">{{ post[0] }}</span>
    <img src="/meme/{{ post[1] }}">
    <ul>
      <li>View post</li>
      <li>Save post</li>
      <li>Fork post</li>
      <li>Reply</li>
    </ul>
  </div>
  {% endfor %}
</div>

  <footer>
    <p>&copy; 2018 Pictualize</p>
  </footer>
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</body>
</html>
