<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pictualize</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
  <link rel="stylesheet" href="../static/styles/mainpage.css">
</head>
<body>
  <footer>
    <div id="copywrite">
      <p>&copy; 2018 Pictualize</p>
    <div>
  </footer>

  <header>
    <div class="container">
      <div id="logo">
        <!---PLACE THE LOGO PICTUALIZE--->
      </div>
      <div class="navigate">
        <nav>
          <li>Logout</li>
        </nav>
      </div>
      <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">
        <div class="sidebar-icon" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </span>
    </div>
  </header>
  <div id="SidebarContainer" class="sidebar">
    <div class="Sidebar-content">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">
        <div id="icon-close" class="sidebar-icon">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </a>
      <!-- access databse for following list -->
      <a href="$">User Settings</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
  </div>


  <script>
    // // menu button
    // function myFunction(x) {
    //   x.classList.toggle("change");
    // }

    //animated sidebar
    function openSidebar(){
      document.getElementById("SidebarContainer").style.width="250px";
    }
    function closeSidebar(){
      document.getElementById("SidebarContainer").style.width="0";
    }
  </script>

</body>
</html>
