<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pictualize</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
  <link rel="stylesheet" href="../static/styles/mainpage.css">
</head>
<body>
  <header>
    <div class="container">
      <div id="logo">
        <!---PLACE THE LOGO PICTUALIZE--->
      </div>
      <div class="navigate">
        <nav>
          <li>Notifications</li>
          <li>User Settings</li>
          <li>Logout</li>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
    
  </div>


</body>
</html>
