<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
  <title>Pictualize - Login or Sign up</title>
  <!---fonts, format files CSS, etc...--->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
  <link rel="stylesheet" href="../static/styles/loginSignup.css">
</head>
<body>
  <header>
    <div class="container">
      <div id="logo">
        <!---PLACE THE LOGO PICTUALIZE--->
      </div>
      <div class="login">
        <form id="login-form" action="/login" method="POST" class="form-sign-in">
          <label for="inputName" class="si-only"</label>
          <input type="Username" name="inputUsername" id="signinUsername" class="form-control" placeholder="Username" required autofocus>
          <!-- <label for="inputPassword" class"si-only"</label>
          <input type="password" name"inputPassword" id="inputPassword" class="form-control" placeholder="Password" required> -->
          <input id="buttonLogin" class="button-login-primary" type="submit" method="POST" value="Login">
        </form>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="signup">
      <h1> Create A New Account </h1>
      <form id="signup-form" action="/signup" method="POST" class="form-sign-up">
        <label for="inputFirstName" class="su-only"</label>
        <input type="FirstName" name="createFirstName" id="createFirstName" class="form-control" placeholder="First Name" required autofocus>
        <br>
        <label for="inputLastName" class="su-only"</label>
        <input type="LastName" name="createLastName" id="createLastName" class="form-control" placeholder="Last Name" required autofocus>
        <br>
        <label for="inputEmail" class="su-only"</label>
        <input type="email" name="createEmail" id="createEmail" class="form-control" placeholder="E-Mail" required autofocus>
        <br>
        <label for="inputUsername" class"su-only"</label>
        <input type="Username" name="createUsername" id="createUsername" class="form-control" placeholder="Username" required>
        <br>
        <input id="buttonSignUp" class="button-signup-primary" type="submit" value="signup">
      </form>
    </div>
  </div>
  <footer>
    <div id="footer">
      <p>&copy; 2018 Pictualize</p>
    </div>
    <script src="../static/js/jquery.js"> </script>
    <script >
    $(function() {
    $('#buttonSignUp').click(function() {

        $.ajax({
            url: '/signup',
            data: $('#signup-form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log("!!!", response);
            },
            error: function(p, status, error) {
                console.log("???", status, error);
            }
        });
    });
});

$(function() {
$('#buttonLogin').click(function() {

    $.ajax({
        url: '/login',
        data: $('#login-form').serialize(),
        type: 'POST',
        success: function(response) {
            console.log("!!!", response);
        },
        error: function(p, status, error) {
            console.log("SUCCESS", status, error);
        }
    });
});
});

</script>
  </footer>
</body>
</html>
