<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pictualize</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
</head>
<body>
  <div class="page">
    {% include "header.html" %}
    <div class="sidebar">
      <ul>
      <li><a href="/profile/followers">Following You</a></li>
      <li><a href="/profile/saved">Saved Posts</a></li>
      <li><a href="/profile/library">Template Library</a></li>
    </ul>
    </div>
    <div class="content">
      {% for follower in followerList %}
      <h4><a href="/profile/{{ follower }}">{{ follower }}</a></h4>
      {% endfor %}
    </div>

    <footer>
      <p>&copy; 2018 Pictualize</p>
    </footer>
  </div>
</body>
</html>
