<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
  <title>Pictualize - Login or Sign up</title>
  <!---fonts, format files CSS, etc...--->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/registration.css') }}">
</head>
<body>
  <div class="page">
  <header>
      <div id="logo">
        <!---PLACE THE LOGO PICTUALIZE--->
        <img height=40px src="{{ url_for('static', filename='img_assets/pic2.png') }}">
      </div>
      <div class="login">
        <form action="/login" method="POST">
          <input type="text" name="inputUsername" placeholder="Username" required autofocus>
          <input id="buttonLogin" type="submit" value="Login">
        </form>
      </div>
  </header>
  <div class="content">
    <div class="signup">
      <h1> Create A New Account </h1>
      <form id="signup-form" action="/signup" method="POST" class="form-sign-up">
        <input type="text" name="createFirstName" placeholder="First Name" required><br>
        <input type="text" name="createLastName" placeholder="Last Name" required><br>
        <input type="email" name="createEmail" placeholder="E-Mail" required><br>
        <input type="text" name="createUsername" placeholder="Username" required><br>
        <input id="buttonSignUp" type="submit" value="Sign Up">
      </form>
    </div>
</div>
  <footer>
      <p>&copy; 2018 Pictualize</p>
  </footer>
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script >
$(function() {
$('#buttonSignUp').click(function() {

    $.ajax({
        url: '/signup',
        data: $('#signup-form').serialize(),
        type: 'POST',
        success: function(response) {
            console.log("!!!", response);
        },
        error: function(p, status, error) {
            console.log("???", status, error);
        }
    });
});
});

</script>
</body>
</html>
